# Dependencies
node_modules/

# Build
dist/
build/
*.tsbuildinfo

# Env
.env
.env.local
.env.*.local

# Logs
logs/
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE
.idea/
.vscode/
*.swp
.DS_Store

# Coverage / tests
coverage/
.nyc_output/

# Runtime / caches
.cache/
tmp/
temp/

# Lockfiles opcionais (mantenha um)
# package-lock.json
# yarn.lock
# pnpm-lock.yaml
